.u-flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.center-vertically {
    align-content: center;
  }
  &.center-horizontally {
    align-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.no-stretch {
    align-items: flex-start;
  }
  .one-column {
    flex: 1;
  }
  .two-column {
    flex: 2;
  }
  .three-column {
    flex: 3;
  }
}
