.card {
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(0,0,0,.2);
    background: white;
    overflow: hidden;

    z-index: 1;
    .header {
        background: white;
        height: auto;

        &.tabs {
          padding: 0;
        }

        .tab {
          background: #CECECE;
          padding: .5em 1em;
          text-align: center;
          display: block;
          flex: 1;

          &.active {
            background: transparent;
          }
        }
        .button {
          background: map-get($blue, 2)
        }

        .title {
          font-size: 1.5em;
          font-weight: 700;
          color: black;
        }

        &.red {
            background: map-get($red, 4);
            color: #FFE2BB;
        }
    }
    .body {
        padding: 2em;
        .label {
          margin:.5em 0;

        }
        label {
          margin-bottom: 1em;
        }
    }
    .footer {
        margin-top: 1em;

        border-top: 1px rgba(0,0,0,.1) solid;
        font-size: 1.5em;
    }

}

.cards {
  display: flex;
  padding: 1em;
  .card {
    flex: 1;
    margin: 1em;
  }
}
