.button {
  background: #FFFFFF;
  border-radius: .5em;
  font-family: 'Avenir Next', sans-serif;
  font-size: 2em;
  padding: .5em 1em;
  margin-left: .25em;
  color: #6D6D6D;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: #DDD;
}

.button:focus {
  outline: none;
}

.button.primary {
  background: #047DB6;
  color: #C5FFFF;
}

.error {
  padding: 1em;
  background: #D7644E;
  color: white;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: .25em 1em;
  margin-top: 2em;
}

.checkbox input {
  margin-left: 1em;
  border-left: 2px black solid;
}

.clipboard {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.clipboard:after {
  position: absolute;
  right: 0;
  top: 45%;
  bottom: 0;
  font-size: 1.2em;
  content: 'Copy';
}

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-flex.center-vertically {
  -ms-flex-line-pack: center;
      align-content: center;
}

.u-flex.center-horizontally {
  -ms-flex-line-pack: center;
      align-content: center;
}

.u-flex.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-flex.no-stretch {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.u-flex .one-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.u-flex .two-column {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.u-flex .three-column {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.u-good-measure {
  min-width: 40ch;
  max-width: 75ch;
}

.u-padding._1 {
  padding: 1em;
}

.u-padding._2 {
  padding: 2em;
}

.u-padding._3 {
  padding: 3em;
}

.u-padding._4 {
  padding: 4em;
}

.u-padding._5 {
  padding: 5em;
}

.u-padding._6 {
  padding: 6em;
}

.u-padding._7 {
  padding: 7em;
}

.u-padding._8 {
  padding: 8em;
}

.u-padding._9 {
  padding: 9em;
}

.u-padding._10 {
  padding: 10em;
}

.u-margin._1 {
  margin: 1em;
}

.u-margin._2 {
  margin: 2em;
}

.u-margin._3 {
  margin: 3em;
}

.u-margin._4 {
  margin: 4em;
}

.u-margin._5 {
  margin: 5em;
}

.u-margin._6 {
  margin: 6em;
}

.u-margin._7 {
  margin: 7em;
}

.u-margin._8 {
  margin: 8em;
}

.u-margin._9 {
  margin: 9em;
}

.u-margin._10 {
  margin: 10em;
}

.u-margin-left._1 {
  margin-left: 1em;
}

.u-margin-left._2 {
  margin-left: 2em;
}

.u-margin-left._3 {
  margin-left: 3em;
}

.u-margin-left._4 {
  margin-left: 4em;
}

.u-margin-left._5 {
  margin-left: 5em;
}

.u-margin-left._6 {
  margin-left: 6em;
}

.u-margin-left._7 {
  margin-left: 7em;
}

.u-margin-left._8 {
  margin-left: 8em;
}

.u-margin-left._9 {
  margin-left: 9em;
}

.u-margin-left._10 {
  margin-left: 10em;
}

.u-margin-right._1 {
  margin-right: 1em;
}

.u-margin-right._2 {
  margin-right: 2em;
}

.u-margin-right._3 {
  margin-right: 3em;
}

.u-margin-right._4 {
  margin-right: 4em;
}

.u-margin-right._5 {
  margin-right: 5em;
}

.u-margin-right._6 {
  margin-right: 6em;
}

.u-margin-right._7 {
  margin-right: 7em;
}

.u-margin-right._8 {
  margin-right: 8em;
}

.u-margin-right._9 {
  margin-right: 9em;
}

.u-margin-right._10 {
  margin-right: 10em;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 10px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  line-height: 1.6;
  text-decoration: none;
}

a:visited {
  color: initial;
}

button {
  line-height: 1.6;
  padding: 0;
}

label {
  line-height: 1;
  cursor: pointer;
}

input {
  font-size: 1.6em;
  padding: 1em .5em;
  min-width: 20em;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 5px;
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 1px black solid;
}

input[type="checkbox"] {
  background: black;
}

code {
  font-family: Courier New, Courier, monospace;
  background: black;
  color: white;
  padding: .5em 1em;
  line-height: 2.4;
  display: block;
  overflow: auto;
}

.card {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card .header {
  padding: 1em 2em;
}

.card .header .title {
  font-size: 2rem;
}

.card .header.red {
  background: #CF4C32;
  color: #FFE2BB;
}

.card .body {
  padding: 2em;
}

.card .footer {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

.card .footer .button {
  margin-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0;
}

.header {
  font-size: 1rem;
  background: #047DB6;
  padding: 1em;
  color: #C5FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .button {
  font-size: 1.25em;
}

.header .title a {
  color: #C5FFFF;
}

.content {
  padding: 2rem;
}

