@import 'reset';
html,
body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 10px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.6;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  line-height: 1.6;
  text-decoration: none;
  &:visited {
    color: initial
  }
}

button {
  line-height: 1.6;
  padding: 0;
}

label {
  line-height: 1;
  cursor: pointer;
}

input {
  font-size: 1.6em;
  padding: 1em .5em;
  min-width: 20em;
  border: 1px rgba(0, 0, 0, .2) solid;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 1px black solid;
  }
  &[type="checkbox"] {
    background: black;
  }
}

code {
  font-family: Courier New, Courier, monospace;
  background: gray;
  color: white;
  padding: .5em 1em;
  line-height: 2.4;
}
