@import 'reset';

html,
body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 10px;
}

h1, 
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.6;
}

h2 {
  font-size: 3.2rem;
  line-height: 2;
}

p {
  font-size: 1.8rem;
  line-height: 1.6;
}

a {
    line-height: 1.6;
}

button {
  line-height: 1.6;
  padding: 0;

}
