$red: (
    0: #EFADA0,
    1: #E79585,
    2: #DF7D69,
    3: #D7644E,
    4: #CF4C32
);

$blue: (
    0: #009CE0,
    1: #047DB6,
    2: #075D8C,
    3: #0B3E62,
    4: #0e1e38,
);

$green: (
    0: #6CB585,
    1: #5BA368,
    2: #4B914B,
    3: #3A7F2E,
    4: #296D11
);



