.button {
  background: #FFFFFF;
  border-radius: .5em;
  font-family: 'Avenir Next', sans-serif;
  font-size: 2em;
  padding: .5em 1em;
  margin-left: .25em;
  color: #6D6D6D;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  
  &:hover {
    background: #DDD;
  }

  &:focus {
    outline: none
  }

  &.primary {
    background: #047DB6;
    color: #C5FFFF;
  }
}