.button {
  background: #FFFFFF;
  border-radius: .5rem;
  font-family: 'Avenir Next', sans-serif;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-left: .25em;
  color: #6D6D6D;
  text-decoration: none;
  cursor: pointer;
  border: none;
  
  &:hover {
    background: #DDD;
  }

  &:focus {
    outline: none
  }
}