.button {
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 1em;
  line-height: 2;
  padding: .35em .75em;
  margin-left: .25em;
  color: #6D6D6D;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background 50ms ease-in-out;

  &:hover {
    background: #DDD;
  }

  &:focus {
    outline: none
  }

  &.primary {
    background: map-get($blue, 1 );
    color: #C5FFFF;
  }
}
